.categories{
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 15px;
    scrollbar-width: thin;
}
.categories:hover {
    overflow-x: scroll;
}

::-webkit-scrollbar {
    height: 1px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #cccca6;
}


.category-image-div{
    display: inline-block;
    float: none;
    text-align: center;
}

.category-image{
    width: 80%;
    height: 80px;
}

.banner-div{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.products{
    text-align: center; 
    justify-content: center;
}

.card-div{
    width: 18em;
    height: 350px;
}

.card-img-top{
    height: 250px;
}