<div>
    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        {{ message }}
        <button style="float: right;" type="button" class="close btn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
        </button>
    </div>
    </div>
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    